@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    David Granados Chacon<br />
    Costa Rica, Cartago<br />
    Phone: (506) 8881-1470<br />
    Email: david.gch86@gmail.com
</address>
