@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>Stores Administration</h2>
        <p>
        </p>
        <p><a class="btn btn-default" href="~/store">Go!! &raquo;</a></p>
    </div>
    <div class="col-md-10">
        <h2>Articles Administration</h2>
        <p>

        </p>
        <p><a class="btn btn-default" href="~/article">Go!! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>More</h2>
        <p>

        </p>
        <p><a class="navbar-link" href="~/home/contact">Contact &raquo;</a></p>
        <p><a class="navbar-link" href="~/home/about"">About &raquo;</a></p>
    </div>
</div>